 

 @import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&display=swap');

 *{
 margin: 0;
padding: 0;
box-sizing: border-box;
}
   /*
 body{
  color: aliceblue;
  font-size: 20px;
  background: #000;
 }
#git h3{
 color: #000;
 font-size: 20px;
}
.git{
 color: yellow;
 font-size: 30px;
 background: #f8efef;
}

#git{
 color: rgb(190, 190, 106);
 font-size: 30px;
} */


/* hex color  1 to 9 and A(11) to F(15) #FF000 means red 30% and 0000 is black color */

/* px is absolute and percent,em,rem is relative */

/* .first{
 width: 200px;
 height: 200px;
 background: yellow;
}
.second{
 width: 120px;
 height: 50%;
 background:rgb(105, 105, 63) ;
} */

 
/* .first{
 width: 200px;
 height: 200px;
 background: yellow;
}
.second{
 width:10rem;
 height: 50%;
 background:rgb(105, 105, 63) ;
} */
/* vw & vh is % of the screen of browser */
.first{
 width: 100vw;
 background: yellow;
 height: 30rem;
 font-family: "Grechen Fuemen", serif;
}
.second{
  width: 10rem;
  /* max-height: 80vh; it is not work due to parent height is small than child so not render in browser */
  /* min-height: 80vh; */

 background:rgb(105, 105, 63) ;
}
 
 
